.example-container {
    overflow: auto;
  }
  
  table {
    width: 100%;
    margin-bottom: 50px;
    font-size: small;
    text-transform: capitalize;

  }
  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}
  
  tr.mat-footer-row {
    font-weight: bold;
  }
  
  .mat-table-sticky {
    border-top: 1px solid #e0e0e0;
  }
  .dark{
    background-color:rgb(255, 236, 251)   ;
  } 
 .toolbar{
   height: 40px;
   background-color: rgb(255, 236, 251);
   color: black;
   margin-bottom: 5px;
 }
 td {
  text-align: center;
}
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: white;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #c056a9;
  color: white;
}