.stats-cards {
  .mat-card {
    overflow: hidden;
  }
}

table {
  width: 100%;
}
.dark{
  background-color:rgb(255, 236, 251)   ;
}
.app-loader{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-left: 45%;
  }
  .select{
    display: flex;
    align-items: center;
  }