<div class="select">

    <form [formGroup]="dropdown" (ngSubmit)="getdata()">
        <mat-form-field>
            <mat-label for="name">Select EntityType </mat-label>
            <mat-select class="form-control" formControlName="entityType" required>
                <mat-option value="" disabled> select entityType</mat-option>
                <mat-option value="85"> consumer</mat-option>
                <mat-option value="20"> merchant</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field style="margin-left: 10px;">
            <mat-label for="name">StartYear </mat-label>
            <mat-select class="form-control" formControlName="startYear" required>
                <mat-option value="" disabled> select Date </mat-option>
                <mat-option *ngFor="let item of startYear" value="{{item.year}}"> {{item.year}}</mat-option>

            </mat-select>
        </mat-form-field>
        <mat-form-field style="margin-left: 10px;">
            <mat-label for="name">EndYear </mat-label>
            <mat-select class="form-control" formControlName="endYear" required>
                <mat-option value="" disabled> select Date </mat-option>
                <mat-option *ngFor="let item of endYear" value="{{item.year}}"> {{item.year}}</mat-option>

            </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" class="submit-btn" type="submit" style="margin-left: 10px;">
            submit</button>

    </form>
</div>

<table id="customers" class="table table-striped">
    <thead>
        <tr>
            <th scope="col">CategoryId</th>
            <th scope="col">EntityType</th>
            <th scope="col">CategoryYear</th>
            <th scope="col">TransactionCount</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of datalist">
            <td>{{item.categoryId}}</td>
            <td>{{item.entityType == 85 ? "Consumer" : "Merchant"}}</td>
            <td>{{item.categoryYear}}</td>
            <td>{{item.categoryTransactionCount | json}}</td>
        </tr>
    </tbody>
</table>