.stats-cards {
  .mat-card {
    overflow: hidden;
  }
}

table {
  width: 100%;
  margin-bottom: 50px;
  font-size: small;
  text-transform: capitalize;

}
.dark{
  background-color:rgb(255, 236, 251)   ;
}
.app-loader{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-left: 45%;
  }
  .select{
    display: flex;
    align-items: center;
  }
  td {
    text-align: center;
  }
  table{
    border: 1px solid gray;
    border-radius: 2px;
    background-color: rgb(255, 236, 251) ;
  }
  #customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: white;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #c056a9;
    color: white;
  }
  