<div>
   <form [formGroup]="dropdown" (ngSubmit)="getdata()" >
    <label for="name">search </label><br>
    <select class="form-control" formControlName = "entityType">
       <option value="85"> consumer</option>
       <option value="20"> merchant</option>
   </select>
   <select class="form-control" formControlName = "startYear">
    <option value="2020-01-01"> 2021</option>
</select>
<select class="form-control" formControlName = "endYear">
    <option value="2022-01-01"> 2022</option>
</select>


       
  
    <button class="submit-btn"  mat-raised-button color="primary" type="submit"
         style="margin-top: 10px;"> submit</button>
    
   </form>
    <br>
   
</div>
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
    <div fxFlex="100">
        <div class="mat-elevation-z8">
            <table class="dark" mat-table [dataSource]="datalist">
                <ng-container matColumnDef="categoryId">
                    <th mat-header-cell *matHeaderCellDef> CategoryID </th>
                    <td mat-cell *matCellDef="let element"> {{element.categoryId}} </td>
                </ng-container>
                <ng-container matColumnDef="entityType">
                    <th mat-header-cell *matHeaderCellDef> EntityType </th>
                    <td mat-cell *matCellDef="let element"> {{element.entityType}} </td>
                </ng-container>
                <ng-container matColumnDef="categoryName">
                    <th mat-header-cell *matHeaderCellDef> CategoryName </th>
                    <td mat-cell *matCellDef="let element"> {{element.categoryGMV }} </td>
                </ng-container>
                <ng-container matColumnDef="categoryYear">
                    <th mat-header-cell *matHeaderCellDef> CategoryYear </th>
                    <td mat-cell *matCellDef="let element"> {{element.categoryYear}} </td>
                </ng-container>
                <ng-container matColumnDef="categoryTransactionCount">
                    <th mat-header-cell *matHeaderCellDef> TransactionCount </th>
                    <td mat-cell *matCellDef="let element"> {{element.categoryTransactionCount}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-spinner class="app-loader" *ngIf="loading"></mat-spinner>
            <mat-paginator [pageSizeOptions]="[8, 15, 20]"></mat-paginator>
        </div>
    </div>
</div>