<div class="container ">
    <div class="form_container margin-t-b" style="margin-top: 100px;">
        <div class="form-child ">
            <form [formGroup]="contactForm" (ngSubmit)="getapidata()">
                <h2>Login Form</h2>
                <div class="col-sm-6 py-1" style="margin-top: -15px;">
                    <label for="name">Name </label><br>
                    <input class="inpt-box" type="text" placeholder="name" formControlName="name" name="name">
                    <br>
                </div>
                <div class="col-sm-2 py-1" style="margin-top: 5px;">
                    <label for="phoneno">Phone Number </label><br>
                    <input class="inpt-box" type="text" placeholder="Phone Number" formControlName="phoneno"
                        name="phoneno" maxlength="10">
                    <br>
                </div>
                <div class="col-sm-6 py-1 " style="margin-top: 5px;">
                    <label for="email"> email </label><br>
                    <input class="inpt-box" type="email" placeholder="Enter email Address " formControlName="email"
                        name="email" maxlength="50">
                    <br>
                </div>
                <div class="col-sm-6 py-1 " style="margin-top: 5px;">
                    <label for="password"> Password </label><br>
                    <input class="inpt-box" type="password" placeholder="Enter new Password " formControlName="password"
                        name="password" minlength="4"> 
                    <br>
                </div>
                <div style="margin-top: 5px;">
                    <button class="submit-btn" (click)="gotodashboard()" mat-raised-button color="primary" type="submit"
                        [disabled]="!contactForm.valid" style="margin-top: 10px;"> Login</button>

                </div>
            </form>
        </div>
    </div>
</div>